.blogPostList {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .blogPostList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .blogPostList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .blogPostList {
    gap: 10px;
    padding: 8px;
  }
}

.empty {
  text-align: center;
  color: #999999;
  padding: 20px;
}
